{% extends 'base.html.twig' %}

{% block title %}Account{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <h3>Welcome back!</h3>
        </div>
    </div>
{% endblock %}